## Logistic Regression

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('./ex2/ex2data1-csv.csv')
df.head()

   Exam 1 score  Exam 2 score  Admitted
0     34.623660     78.024693         0
1     30.286711     43.894998         0
2     35.847409     72.902198         0
3     60.182599     86.308552         1
4     79.032736     75.344376         1

In [19]:
x = np.array(df[['Exam 1 score','Exam 2 score']])
y = np.array(df['Admitted'])
y.resize((y.size, 1))

In [ ]:
fig1 = plt.figure()
ax1 = fig.